 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                    Currently, I am a junior majoring in computer science in University of Michigan. At the same time, I am pursuing a dual degree in electrical and computer engineering at Joint Institute, University of Michigan - Shanghai Jiao Tong Univerity. 

                    I have programming experience of java and c++. I plan to become a software engineer after my graduation. My field of interests are data mining, machine learning, and web development. I am seeking an opportunity of summer intern this year. Please feel free to contact me.
                    </p>
                </div>
            </div>
        </div>
    </section>