 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                    Currently, I am working as a software development engineer for Amazon in Elastic Block Store (EBS) team which provides block level storage for EC2 instances. I graduated with two bachelor degrees in computer science in University of Michigan and Shanghai Jiao Tong University in 2017. 
                    </p>
                        
                    <p>
                    I have vast programming experiences of java, c, and c++, and python. My field of interests are data mining, mobile development, and full stack development. I love cooking, baking, and playing Lego. Please feel free to contact me.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/assets/cv_guoyilin.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
