<!-- Contact Section -->
<section class="success" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Contact Me</h2>
				<hr class="star-light">
			</div>
		</div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-3">
                <p>
                    <b>Name</b><span style="float:right;"> Yilin(Elaine) GUO</span><br>
                    <b>Email Address</b><span style="float:right;"> guoyilin@hotmail.com</span><br>
                    <b>Phone</b><span style="float:right;"> 206-258-1436</span>
                </p>
            </div>
        </div>
    </div>
</section>
