<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-text">   
					<span class="name">
						<span class="element"></span>
					</span>
					<hr class="star-primary">
					<span class="skills">Senior in Computer Science at University of Michigan</span>
				</div>
			</div>
			<script>
				$(".element").typed({
					strings: ["Hello, <br> Welcome to my website!", "My name is Yilin.", "You can call me Elaine."],
					contentType: 'html', // or 'text'
					typeSpeed: 0
				});
			</script>
		</div>
	<div>
</header>
<!--img class="img-responsive" src="img/DSC01968.jpg" alt=""-->