
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Resume</h2>
                    <hr class="star-primary">
                </div>
                
                <div style="float:right" class="text-center">
                        <a href="/assets/cv_guoyilin.pdf" class="btn-success btn-lg">
                            <i class="fa fa-download"></i> Download Resume
                        </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">        
                    <h1>Yilin(Elaine) GUO</h1>
                    <p>
                        1861 Shirley Lane, Apt B2<br>
                        Ann Arbor, MI 48105<br>
                        (734)846-1766<br>
                        guoyilin@umich.com
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2"> 
                    <h3>Education</h3>

                    <p><strong>University of Michigan</strong> Expected Apr, 2017<em>The Book I Contributed To</em> B.S.E in Computer Science Engineering <a href="#">http://permalink</a>.
                    </p>

                    <p><strong>Shanghai Jiao Tong University</strong> Expected Aug, 2017 <em>The Book I Contributed To</em> B.S.E in Electrical and Computer Engineering <a href="#">http://permalink</a>.
                    </p>

                    <h3>Projects</h3>
                    <h4>Mobile Sakai Android App</h4>
                    <p>
                        <ul>
                            <li>For browsing resources, quering assignments, and exam grades</li>
                            <li>Implemented an alarm function to alert due time</li>
                            <li>Set up a Serkai server 10.0 via Tomcat</li>
                            <li>Utilize the Sakai API for due time, appointment time, etc</li>
                            <li>GUI implemented using Android Studio</li>
                        </ul>
                    </p>

                    <h4>E-Reader Prototype</h4>
                    <p>
                        <ul>
                            <li>Able to select books, turn pages with page number displayed concurrently</li>
                            <li>GUI implemented with Java <em>swing</em></li>
                            <li>Search function and database back end to be implemented</li>
                        </ul>
                    </p>

                    <h4>Cross-4 Chess Game</h4>
                    <p>
                        <ul>
                            <li>Enables two players to play cross 4 as well as chatting</li>
                            <li>Socket programming with one server and two clients</li>
                            <li>GUI implemented with Java swing</li>
                            <li>Chatting implemented with Java thread</li>
                        </ul>
                    </p>

                    <h3>Technical Strengths</h3>
                    <p>
                        <ul>
                            <li>C++, C, Java, Python</li>
                            <li>Verilog, Matlab, R, LaTeX, Markdown</li>
                            <li>Windows, Linux (Redhat, Debian, and Ubuntu)</li>
                            <li>Git, Vim, Valgrind, gdb, zsh</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>